---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi, I'm Seongyun 🤗</div>
    <div class="text-5xl font-bold">I'm Seongyun Lee (이성윤)</div>
    <div class="text-3xl py-3 font-bold">A passionate backend software engineer</div>
    <div class="py-2">
      <text class="text-lg">
        Specializing in NodeJS and Java Spring. I have a strong interest in developing a service with high availability and reliability.
      </text>
    </div>
  </div>

  <div class="text-3xl w-full font-bold mb-2">I'm now learning {"</>"}</div>
    <li>TypeScript, Kotlin, Java, Python</li>
    <li>NestJS, ExpressJS, Spring boot</li>
    <li>MySQL, MongoDB, DynamoDB, Redis</li>
    <li>Kubernetes, Docker, Argo Workflows, Github Actions</li>

  <div class="text-3xl w-full font-bold mb-5 mt-10">School</div>

  <li>
    Sungkyunkwan University (2018.03. ~) - Major in Software and Mechanical Engineering
  </li>
  <div class="text-3xl w-full font-bold mb-5 mt-10">Activity</div>
  <ul>
    <li>
      SW Maestro 14th (2023.04 ~ 2023.11)
    </li>
  </ul>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Contact with</div>
  </div>
    <li>
      <a href="https://www.linkedin.com/in/seongyun-lee-66b023128/" target="_blank">LinkedIn</a>
    </li>
    <li>
      mader0708@gmail.com
    </li>
 <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }-->
</BaseLayout>
